 /*Start Walid code*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:ital,wght@1,600&display=swap');

body, html {
font-family: 'Raleway', sans-serif;
color: #22162B;
background-color: #FFF4F0;
padding: 0px;
margin: 0px;
overflow-x: hidden;
}

#hero_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.457) 0%, rgba(34, 22, 43, 0.148) 100%);
}

.h1Tweak{
    font-family: 'Playfair Display SC', serif;
    top: 25%;
}
@media only screen and (min-width: 600px) {
    .h1Tweak{
        top: 50%;
    }
    
}

a {
  text-decoration: none;
  color: #4abdeb;
}

/*End Walid code*/
 
 
 /* CLAUDIU CARABUS START*/

 /*Container for contact information */
.information{
    background-color:#AEDAEB;
}

/*Container for contact information display*/
.information2{
  background-color:#AEDAEB;
  height: 400px;
  width: 400px;
  margin-left: 10%;
}
/*Body settings for color */

/*Heading 1 settings START*/
h1 {
    overflow: hidden;
    text-align: center;
  }
  h1:before,
  h1:after {
    background-color: #4abdeb;
    content: "";
    display: inline-block;
    height: 1px; 
    vertical-align: middle;
    width: 50%;
  }
  h1:before {
    margin-left: -50%;
  }
  h1:after {
    margin-right: -50%;
  }
/*Heading 1 settings FINISH*/

/*Heading 4 settings for font*/
h4{
  font-family:'Playfair Display';
}
/*Link settings for color*/
p a{
  color: #000;
}
/*Heading 5 settings for font*/
h5{
  font-family:'Playfair Display';
}
/*CLAUDIU CARABUS END*/
footer{
  
    background: #212529;
}


.logo{width: 120px;}
