/*Start Walid code start */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Raleway:ital,wght@1,600&display=swap');

body, html {
font-family: 'Raleway', sans-serif;
color: #22162B;
background-color: #FFF4F0;
}

.h1Tweak{
    position: absolute;
    top: 40%;
    z-index: 3;
    font-family: 'Playfair Display SC', serif;
}

video { object-fit: cover; }

.background_color{
    background-color: #AEDAEB;
}

p{
    font-size: 15px;
}

.infoText{
    font-size: 30px;
}


footer {
    background: #212529;
  }

/*end Walid code */

/*start Guilherme code */

h2:before,
h2:after {
    background-color: #AEDAEB;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h2:after {
    left: 0.5em;
    margin-right: -50%;
}
/*end Guilherme code */
